/********** TEMPORARY / TESTING ONLY **********/

body {
    counter-reset: container;
}

.container {
    border: 2px dotted blueviolet;
}
.container:before {
    color: blueviolet;
    content: "Section " counter(container) ":";
    counter-increment: container;
}

#header-carousel .container {
    border: auto;
}
#header-carousel .container:before {
    color: transparent;
    content: none;
}
